{% extends 'stockmgmt/base.html' %}
{% load static %}

{% block body %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>{{ title }}</h1>
    <br>

    <a href="#issue" class="btn btn-danger">Issue This Item</a>
    <a href="#receive" class="btn btn-primary">Receive This Item</a>
    <br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Last Updated</th>
                <th>Reorder Level</th>
            </tr>
        </thead>
            <tr>
                <td>{{ queryset.item_name }}</td>
                <td>{{ queryset.quantity }}</td>
                <td>{{ queryset.last_updated }}</td>
                <td>{{ queryset.reorder_level }}</td>
            </tr>
    </table>

{% endblock %}
